.body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    float: left;
    background-color: #c9c9c9;
    overflow-y: scroll;
}
.mine-sitebar {
    width: 10%;
    height: 100%;
    min-width: 160px;
    float: left;
    /*background-color: #00b3ee;*/
    background-color: #292929;
    position: fixed;
}
.mine-sitebar-hide {
    width: 17%;
    height: 1000%;
    min-width: 160px;
    float: left;
}
.mine-navbar {
    text-align: right;
    width: 100%;
    /*float: left;*/
    background-color: #292929;
    height: 5%;
    position: absolute;
    /*position: fixed;*/
    /*margin-left: 17%;*/
}
.mine-content {
    min-width: 200px;
    border-radius: 1%;
    width: 80%;
    height:90%;
    float: left;
    /*margin-left: 2%;*/
    margin-top:7.1%;
    /*overflow-y: scroll;*/
    /*position: fixed;*/
    display: inline-block;
}
.mine-sitebar-item {
    height: 50px;
    font-size: 18px;
    /*background-color: whitesmoke;*/
}
.mine-sitebar-item:hover {
    background-color: #0a0a0a;
}
.mine-sitebar-item-name {
    font-weight: bold;
    margin-left: 15px;
    /*top: -30px;*/
    color: white;
}
.mine-navbar-username {
    width: 100%;
    font-size: 120%;
    display: inline-block;
    text-align: center;
    color: white;
}
.mine-sitebar-head-name {
    border-bottom: white;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 60px;
}
.mine-footer {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: black;
}
.mine-navbar-username:hover {
}
.logout-button {
    text-align: center;
    width: 15%;
    min-width: 140px;
    height: 100%;
    float: right;
    margin-right: 3%;
}
.logout-button:hover {
    background-color: black;
}
.block-date {
    float: left;
    width: 20%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.container {
    height: 100%;
}
.check_item {
    border-radius: 3%;
    /*border: groove;*/
    float: left;
    text-align: center;
    margin-left: 3%;
    margin-top: 3%;
    height: 100px;
    background-color: #00b3ee;
    box-shadow: -1px 1px 15px 1px #000;
}
.check_item:hover {
    background-color: cyan;
}
.title-item {
    margin-top: 20%;
    font-weight: bold;
    font-size: 150%;
}
.row_container {
    background-color: whitesmoke;
    /*text-align: center;*/
    margin-top: 2%;
    height: 75%;
}
.row-head {
    background-color: whitesmoke;
    /*text-align: center;*/
    height: 20%;
}
::-webkit-scrollbar {
    display: none;
}

.modal-backdrop {
    display: none;
}