Options -Indexes
    RewriteEngine on
    IndexIgnore */*

    RewriteBase /FakturacnySystem/src/

    RewriteRule ^admin/?(.*)$ backend/web/$1 [QSA,L]

    RewriteCond %{REQUEST_URI} !^/frontend/web/
    RewriteRule ^(.*)$ frontend/web/$1 [QSA,L]